$icomoon-font-family: "icomoon" !default;
/*$icomoon-font-path: "fonts" !default; */

$ex-addnew: "\e90e";
$ex-burger-menu: "\e90f";
$ex-celebrate-path1: "\e910";
$ex-celebrate-path2: "\e911";
$ex-celebrate-path3: "\e912";
$ex-celebrate-path4: "\e913";
$ex-celebrate-path5: "\e914";
$ex-celebrate-path6: "\e915";
$ex-celebrate-path7: "\e916";
$ex-celebrate-path8: "\e917";
$ex-celebrate-path9: "\e918";
$ex-celebrate-path10: "\e919";
$ex-celebrate-path11: "\e91a";
$ex-celebrate-path12: "\e91b";
$ex-celebrate-path13: "\e91c";
$ex-celebrate-path14: "\e91d";
$ex-celebrate-path15: "\e91e";
$ex-celebrate-path16: "\e91f";
$ex-celebrate-path17: "\e920";
$ex-celebrate-path18: "\e921";
$ex-celebrate-path19: "\e922";
$ex-celebrate-path20: "\e923";
$ex-celebrate-path21: "\e924";
$ex-celebrate-path22: "\e925";
$ex-celebrate-path23: "\e926";
$ex-celebrate-path24: "\e927";
$ex-celebrate-path25: "\e928";
$ex-celebrate-path26: "\e929";
$ex-notify: "\e92a";
$ex-broadcast-path1: "\e900";
$ex-broadcast-path2: "\e901";
$ex-broadcast-path3: "\e902";
$ex-broadcast-path4: "\e903";
$ex-broadcast-path5: "\e904";
$ex-broadcast-path6: "\e905";
$ex-calendar: "\e906";
$ex-coffee: "\e907";
$ex-icon-dashboard: "\e908";
$ex-home: "\e909";
$ex-location: "\e90a";
$ex-myteam: "\e90b";
$ex-mytodo: "\e90c";
$ex-broad-notify: "\e90d";

